# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: has-reconfigure | Check CRS configuration node name
  shell: |
    set -o pipefail
    grep INSTALL_NODE {{ grid_home }}/crs/install/crsconfig_params | awk -F= '{print $2}' | tr -d ' '
  register: crs_node_name
  environment:
    PATH: "{{ grid_home }}/bin:/usr/bin:/usr/local/sbin:/usr/sbin:${PATH}"
  become: true
  become_user: "{{ grid_user }}"
  changed_when: false

- name: has-reconfigure | HAS reconfiguration steps run as root
  when: crs_node_name.stdout != ansible_hostname
  become: true
  become_user: root
  block:
    - name: has-reconfigure | Reconfigure HAS using the current node name
      shell: |
        set -o pipefail
        sed -i '/^INSTALL_NODE=/ s|INSTALL_NODE=.*|INSTALL_NODE={{ ansible_hostname }}|' {{ grid_home }}/crs/install/crsconfig_params
        sed -i '/^NODE_NAME_LIST=/ s|NODE_NAME_LIST=.*|NODE_NAME_LIST={{ ansible_hostname }}|' {{ grid_home }}/crs/install/crsconfig_params
        {{ grid_home }}/bin/crsctl stop has 2>/dev/null || true
        {{ grid_home }}/perl/bin/perl -I {{ grid_home }}/perl/lib -I {{ grid_home }}/crs/install {{ grid_home }}/crs/install/roothas.pl -deconfig -force -verbose || true
        rm -f  {{ grid_home }}/crs/install/crsgenconfig_params  # Old CRS configuration parameters
        rm -f  /etc/oracle/olr.loc                              # OLR location pointer file
        rm -f  /etc/oraInst.loc                                 # Oracle Central Inventory (oraInventory) pointer file
        rm -rf {{ grid_home }}/cdata/*                          # OCR/OLR backups; Encryption keys; Cluster/site metadata snapshots
        rm -rf {{ grid_home }}/gpnp/*                           # GPnP profiles
        rm -rf {{ oracle_base }}/crsdata/*                      # Old CRS data backups
        rm -rf {{ oracle_base }}/diag/crs/*                     # ADR log files
        rm -rf /etc/oracle/olr                                  # Local OLR and GUID
        rm -rf /tmp/.oracle                                     # Runtime cache
        rm -rf /var/tmp/.oracle                                 # Runtime cache
        {{ grid_home }}/perl/bin/perl -I {{ grid_home }}/perl/lib -I {{ grid_home }}/crs/install {{ grid_home }}/crs/install/roothas.pl
      register: has_reconfig
      environment:
        PATH: "{{ grid_home }}/bin:/usr/bin:/usr/local/sbin:/usr/sbin:${PATH}"

    - name: has-reconfigure | Reconfiguration output
      debug:
        msg:
          - "{{ has_reconfig.cmd }}"
          - "{{ has_reconfig.stdout_lines }}"
        verbosity: 1

    - name: has-reconfigure | Run script orainstRoot.sh
      command: "{{ oracle_root }}/oraInventory/orainstRoot.sh"
      ignore_errors: true

    - name: has-reconfigure | Run script root.sh
      command: "{{ grid_home }}/root.sh"

- name: has-reconfigure | Find the cvuqdisk RPM
  become: true
  become_user: root
  find:
    paths: "{{ grid_home }}/cv/rpm/"
    patterns: "*.rpm"
  register: r

- name: gi-has-reconfigure | Install the cvuqdisk RPM
  become: true
  become_user: root
  package:
    name: "{{ r.files | map(attribute='path') | list }}"
    state: present
    lock_timeout: "{{ pkg_mgr_lock_timeout }}"
    disable_gpg_check: true
  register: cvuqdisk_res
  environment:
    CVUQDISK_GRP: "oinstall"
