NAMES.DIRECTORY_PATH=(TNSNAMES,EZCONNECT)
{% if oracle_ver == "11.2.0.4.0" %}
SQLNET.ALLOWED_LOGON_VERSION=12
{% else %}
SQLNET.ALLOWED_LOGON_VERSION_SERVER=12a
{% endif %}
SQLNET.ENCRYPTION_SERVER=required
SQLNET.INBOUND_CONNECT_TIMEOUT = 10
SQLNET.OUTBOUND_CONNECT_TIMEOUT = 10
TCP.CONNECT_TIMEOUT = 10
