# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Active-copy | Check if the standby database is already running
  shell: |
    set -o pipefail
    if srvctl config db -d {{ standby_name }} >/dev/null 2>&1; then
      srvctl status database -d {{ standby_name }} || true
    else
      ps -ef | grep -Ei '(ora|db)_[p]mon_{{ oracle_sid }}' > /dev/null && echo "{{ oracle_sid }} is running" || true
    fi
  environment:
    ORACLE_HOME: "{{ oracle_home }}"
    ORACLE_SID: "{{ oracle_sid }}"
    PATH: "{{ oracle_home }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
  become: true
  become_user: "{{ oracle_user }}"
  changed_when: false
  register: standby_status
  tags: active-duplicate

- name: Active-copy | Add oratab entry
  lineinfile:
    path: /etc/oratab
    regexp: '^{{ oracle_sid }}\:'
    line: "{{ oracle_sid }}:{{ oracle_home }}:N"
    owner: "{{ oracle_user }}"
    group: "{{ oracle_group }}"
  when: "'is running' not in standby_status.stdout"
  tags: active-duplicate

- name: Active-copy | Run database duplication setup tasks as the oracle_user
  when: "'is running' not in standby_status.stdout"
  become: true
  become_user: "{{ oracle_user }}"
  environment:
    ORACLE_HOME: "{{ oracle_home }}"
    ORACLE_SID: "{{ oracle_sid }}"
    PATH: "{{ oracle_home }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
  tags: active-duplicate
  block:
    - name: Active-copy | Create audit dump directory
      file:
        path: "{{ oracle_base }}/admin/{{ oracle_sid }}/adump"
        state: directory
        owner: "{{ oracle_user }}"
        group: "{{ oracle_group }}"
        mode: "u=wrx,go="

    - name: Active-copy | Run tasks to setup Oracle Net for Data Guard
      import_tasks: oracle-net-setup.yml

    - name: Active-copy | Run tasks to backup the password file on the primary
      import_tasks: password-file-backup.yml

    - name: Active-copy | Generate random password for the RMAN duplication user
      set_fact:
        rman_user_pass: "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}0#_"
      no_log: true

    - name: Active-copy | Set the RMAN duplicate username and container string
      set_fact:
        rman_user: "c##toolkit_rman_user"
        rman_container_string: "CONTAINER=ALL"
      when: container_db | bool

    - name: Active-copy | Set the RMAN duplicate username and container string (non-CDB)
      set_fact:
        rman_user: "toolkit_rman_user"
        rman_container_string: ""
      when: not (container_db | bool)

    - name: Active-copy | Create a temporary user for the RMAN duplication steps
      shell: |
        set -o pipefail
        {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
        whenever sqlerror exit failure
        CREATE USER {{ rman_user }} IDENTIFIED BY "{{ rman_user_pass }}";
        /* SYSDBA privilege is required for the post-active "ALTER DATABASE RECOVER..." command */
        GRANT sysdba TO {{ rman_user }} {{ rman_container_string}};
        EOF
      delegate_to: primary1
      no_log: true

    - name: Active-copy | Copy the password file from primary
      import_tasks: password-file-copy.yml

    - name: Active-copy | Create auxiliary init file
      template:
        src: initaux.ora.j2
        dest: "{{ oracle_home }}/dbs/init{{ oracle_sid }}.ora"
        owner: "{{ oracle_user }}"
        group: "{{ oracle_group }}"
        mode: "u=wr,go="

    - name: Active-copy | Start auxiliary instance
      shell: |
        set -o pipefail
        {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
        whenever sqlerror exit failure
        startup nomount pfile={{ oracle_home }}/dbs/init{{ oracle_sid }}.ora force
        alter system register;
        EOF

    - name: Active-copy | Generate an RMAN duplicate script
      template:
        src: duplicate.cmd.j2
        dest: "{{ oracle_home }}/dbs/duplicate.cmd"
        owner: "{{ oracle_user }}"
        group: "{{ oracle_group }}"
        mode: "u=wr,go="

    - name: Active-copy | Duplicate primary database using RMAN
      command:
        argv:
          - "{{ oracle_home }}/bin/rman"
          - "cmdfile={{ oracle_home }}/dbs/duplicate.cmd"
          - "log={{ oracle_home }}/dbs/duplicate.log"

    - name: Active-copy | Add Oracle Restart configuration
      shell: |
        set -o pipefail
        {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
        -- Commented out following line to prevent premature task end due to the expected/normal ORA-01109 warning
        -- whenever sqlerror exit failure
        shutdown immediate
        EOF
        srvctl add db \
          -d {{ standby_name }} \
          -dbname {{ db_name }} \
          -instance {{ oracle_sid }} \
          -oraclehome {{ oracle_home }} {% if db_domain | default('', true) | length > 0 %}-domain {{ db_domain }}{% endif %} \
          -spfile {{ oracle_home }}/dbs/spfile{{ db_name }}.ora \
          -pwfile {{ password_file_name }} \
          -role PHYSICAL_STANDBY \
          -startoption MOUNT \
          -stopoption IMMEDIATE
        srvctl start db -d {{ standby_name }}
      when: gi_install

    - name: Active-copy | Run tasks from the database adjustments role
      include_role:
        name: db-adjustments
      vars:
        standby_setup: true

    - name: Active-copy | Move spfile into ASM and restart
      shell: |
        set -o pipefail
        {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
        whenever sqlerror exit failure
        create pfile='/tmp/init@.backup' from spfile;
        create spfile='+{{ data_destination }}/{{ standby_name }}/PARAMETERFILE/spfile.ora' from pfile='/tmp/init@.backup';
        EOF
        srvctl modify db -d {{ standby_name }} -spfile '+{{ data_destination }}/{{ standby_name }}/PARAMETERFILE/spfile.ora'
        srvctl stop db -d {{ standby_name }} -stopoption immediate
        srvctl start db -d {{ standby_name }}
      when: gi_install

  always:
    - name: Active-copy | Remove temporary file
      file:
        path: "{{ temp_file.path }}"
        state: absent
      when: temp_file.path is defined

    - name: Active-copy | Delete duplicate.cmd file
      file:
        path: "{{ oracle_home }}/dbs/duplicate.cmd"
        state: absent
      ignore_errors: true

    - name: Active-copy | Drop the temporary user created for RMAN duplication
      shell: |
        set -o pipefail
        {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
        whenever sqlerror exit failure
        DROP USER {{ rman_user }};
        EOF
      delegate_to: primary1

- name: Active-copy | Capture standby database state from srvctl
  shell: |
    set -o pipefail
    srvctl config db -d {{ standby_name }}
    srvctl status db -d {{ standby_name }}
  environment:
    ORACLE_HOME: "{{ oracle_home }}"
    ORACLE_SID: "{{ oracle_sid }}"
    PATH: "{{ oracle_home }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
  when: gi_install
  become: true
  become_user: "{{ oracle_user }}"
  changed_when: false
  register: standby_srvctl_state
  tags: active-duplicate

- name: Active-copy | Show standby database state from srvctl
  debug:
    var: standby_srvctl_state.stdout_lines
  when: gi_install
  tags: active-duplicate

- name: Active-copy | Capture standby database state from v$database
  shell: |
    set -o pipefail
    {{ oracle_home }}/bin/sqlplus -s -L / as sysdba <<EOF
    whenever sqlerror exit failure
    SET lines 120 tab OFF trims ON
    SELECT db_unique_name, database_role, open_mode, switchover_status FROM v\$database;
    EOF
  environment:
    ORACLE_HOME: "{{ oracle_home }}"
    ORACLE_SID: "{{ oracle_sid }}"
    PATH: "{{ oracle_home }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
  become: true
  become_user: "{{ oracle_user }}"
  changed_when: false
  register: standby_db_state
  tags: active-duplicate

- name: Active-copy | Show standby database state from v$database
  debug:
    var: standby_db_state.stdout_lines
    verbosity: 0
  tags: active-duplicate
